<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgnVWbzlPWyF0mqgQVZRG1yQfy05ECA1E</string>
	<key>GCM_SENDER_ID</key>
	<string>983055968483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraApp</string>
	<key>PROJECT_ID</key>
	<string>fire-setup-3bdb5</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-setup-3bdb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983055968483:ios:b85fa2798c189fd9d63dd6</string>
</dict>
</plist>